.snackbar-success {
    background-color: rgba(76, 175, 80, 0.9); /* Green with transparency */
    color: white;
  }
  
  .snackbar-error {
    background-color: rgba(244, 67, 54, 0.9); /* Red with transparency */
    color: white;
  }